@media screen and (max-width: 425px) {
    
    .header {
        width: 42.5rem;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7rem 4rem;
        gap: 0.4rem;
    }

    .header__logo {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        height: auto;
        width: auto;
    }

    .header__logo img{
        width: 20rem;
        height: 7rem;
        padding: 0.5rem;
        
    }
    
    .header__marcas {
        width: auto;
        height: auto;
        justify-content:space-evenly;
        align-self: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .header__marcas nav img {
        width: 4.7rem;
        height: 4rem;
        margin-top: 2rem;
        margin-right: 0rem;
    }

    .header__nav {
        width: auto;
        height: 4.7rem;
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        align-self: flex-end;
        justify-self:stretch;
    }
    
    .header__nav li{ 
        list-style-type: none;
        display: inline-block;
    }
    
    .header__nav li a {
        text-decoration: none;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-size: 1.8rem;
        color: #ff6701;
    }
    
    .secciones {
        padding: 0;
        margin: 0;
        width: 42.5rem;
        height: auto;
        padding-top: 8.5rem;
    }

    .secciones__titulo1 {
        width: 42.5rem;
    }

    .secciones__titulo--contacto h2{
        font-size: 3.2rem;
        margin-bottom: 0rem;
    }

    .secciones__titulo1 h2{
        font-size: 3.2rem;
        margin-bottom: 0rem;
    }

    .secciones__galeriaAutos1 {
        width: 42rem;
        display: grid;
        grid-template-columns: 19rem 19rem;
        grid-template-rows: 12rem 12rem;
        gap: 0.7rem;
        width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
    }

    .secciones__galeriaAutos1 img{
        width: 18rem;
        height: 10rem;
    }

    .secciones__texto1 {
        width: 42.5rem;
        margin-bottom: 0rem;
    }
    
    .secciones__texto1 p {
        font-size: 1.2rem;
        height: 15rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .secciones__titulo2 {
        width: 42.5rem;
    }

    .secciones__galeriaAutos2 {
        width: 42rem;
        display: grid;
        grid-template-columns: 19rem 19rem;
        grid-template-rows: 12rem 12rem;
        gap: 0.7rem;
        width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
    }

    .secciones__galeriaAutos2 img{
        width: 18rem;
        height: 10rem;
    }
    .secciones__texto2 {
        width: 42.5rem;
    }
    
    .secciones__texto2 p {
        font-size: 1.2rem;
        height: 15rem;
        margin-top: 1rem;
    }

    .pieDePag {
        background-position: 0% 72%;
        height: 10rem;
    }

    .pieDePag__texto {
        font-size: 0.8rem;
        padding: 0.5rem;
        
    }

    .pieDePag__ico {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.15rem;
    }

    .fin__pag {
        height: auto;
        font-size: 0.7rem;
        text-align: center;
    }

    .fin__pag--Logo img{
        height: 2rem;
        width: 8rem;
        margin-left: 0.5rem;
    }

    .pieDePag__redes img {
        width: 2.25rem;
        height: 2.25rem;
    }

    .fin__pag--Derechos {
        padding-right: 0.7rem;
    }



    /* ---Sección NOSOTROS--- */

    .contenedor {
        width: 42.5rem; 
        display: flex;
        flex-direction: column;
    }

    .contenedor h2 {
        width: 42.5rem;
        height: auto;
        font-size: 3.2rem;
        margin-top: 5rem;
        margin-bottom: 0;
    }

    .contenedor__imagen img{
        width: 34.5rem;
        height: auto;
        justify-items: center;

    }

    .contenedor__texto  {
        width: 36.1rem;
        height: auto;
    }

    .contenedor__imagen2 img{
        width: 34.5rem;
        height: auto;
        justify-items: center;

    }

    .contenedor__texto2  {
        width: 36.1rem;
        height: auto;
    }

    .contenedor__empleados {
        width: 40rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contenedor__empleados img {
        width: 19rem;
        height: 19rem;
    }
}