@media screen and (max-width: 375px) {

    .header {
        width: 37.5rem;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem 4.5rem 3rem;
        gap: 0.3rem;
    }

    .header__logo {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: auto;
        width: auto;
        align-items: center;
    }

    .header__logo img{
        width: 20rem;
        height: 6rem;
        padding: 0.5rem;
    }

    .header__marcas nav {
        margin-right: 0rem;
    }

    .header__marcas {
        width: 37.5rem;
        height: 5rem;
        justify-content: space-evenly;
        align-content: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2 ;
    }

    .header__marcas nav img {
        width: 8rem;
        height: 4rem;
        margin-top: 1rem;

    }
    
    .header__nav {
        width: auto;
        height: 4rem;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: flex-end;
        justify-self:stretch;
    }

    .header__nav li a {
        font-size: 1.5rem;
    }

    .header__nav ul{
        width: 37.5rem;
        height: 3rem;
        display: flex;
        padding-top: 1.6rem;
        align-content: flex-start;
        justify-content: space-evenly;
    }
    
    .secciones {
        padding: 0;
        margin: 0;
        width: 37.5rem;
        height: auto;
        padding-top: 12rem;
    }

    .secciones__titulo1 {
        width: 37.5rem;
    }

    .secciones__galeriaAutos1 {
        width: 37rem;
        display: grid;
        grid-template-columns: 17rem 17rem;
        grid-template-rows: 10rem 10rem;
        gap: 0.5rem;
        width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
    }

    .secciones__galeriaAutos1 img{
        width: 16.5rem;
        height: 8rem;
    }

    .secciones__texto1 {
        width: 37.5rem;
        margin-bottom: 0rem;
    }
    
    .secciones__texto1 p {
        font-size: 1.2rem;
        height: 15rem;
        margin-top: 1rem;
        margin-bottom: 0rem;
    }

    .secciones__titulo2 {
        width: 37.5rem;
    }

    .secciones__galeriaAutos2 {
        width: 37rem;
        display: grid;
        grid-template-columns: 17rem 17rem;
        grid-template-rows: 10rem 10rem;
        gap: 0.5rem;
        width: auto;
        height: auto;
        justify-items: center;
        align-items: center;
    }

    .secciones__galeriaAutos2 img{
        width: 16.5rem;
        height: 8rem;
    }
    .secciones__texto2 {
        width: 37.5rem;
    }
    
    .secciones__texto2 p {
        font-size: 1.2rem;
        height: 15rem;
        margin-top: 1rem;
    }

    .pieDePag__texto {
        font-size: 0.6rem;
        padding: 0.5rem;
        
    }

    .pieDePag__ico {
        width: 2rem;
        height: 2rem;
    }

    .fin__pag {
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 0.9rem;
        text-align: center;
        padding-top: 0.5rem;
    }

    .fin__pag--Logo {
        flex-direction: column;
        height: 6rem;
        align-items: center;
    }

    .fin__pag--Logo img{
        height: 3.5rem;
        width: 10rem;
        margin-top: 1rem;
        
    }


    /* ---Sección NOSOTROS--- */

    .contenedor {
        width: 37.5rem; 
        display: flex;
        flex-direction: column;
    }

    .contenedor h2 {
        width: 37.5rem;
        height: auto;
        font-size: 3rem;
        margin-top: 4rem;
        margin-bottom: 0;
    }

    .contenedor__imagen img{
        width: 30.5rem;
        height: auto;
        justify-items: center;

    }

    .contenedor__texto  {
        width: 28.1rem;
        height: auto;
    }

    .contenedor__imagen2 img{
        width: 30.5rem;
        height: auto;
        justify-items: center;

    }

    .contenedor__texto2  {
        width: 28.1rem;
        height: auto;
    }

    .contenedor__empleados {
        width: 35rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contenedor__empleados img {
        width: 19rem;
        height: 19rem;
    }
}